In [140]:
import numpy as np
import pandas as pd

In [141]:
df=pd.read_csv("/home/saf/Desktop/ict py/Datasets/asgnmnt/Sales_add.csv")
df

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [142]:
## Null values

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [143]:
df.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [144]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

**CASE 1 :-** To check whether there is any increase in sales after shipping to digital marketing

The T-score and p-value

In [145]:
import scipy.stats as stats
from scipy.stats import ttest_ind

In [146]:
t_stats,p_value=stats.ttest_ind(df["Sales_After_digital_add(in $)"],df["Sales_before_digital_add(in $)"])

In [147]:
print("t-score :",t_stats,"\n""p-value :",p_value)

t-score : 12.995084451110877
p-value : 2.614368006904645e-16

 t value for dof = 21 & alpha = 0.05 using the link :
https://www.socscistatistics.com/tests/criticalvalues/default.aspx

In [148]:
t_crit=1.721
if p_value < 0.5:
    print("Reject null hypothesis")
else:
    print("Accept null hypothesis")

Reject null hypothesis

calculated t score(12.091) > critical t score(1.721) , we reject the null hypothesis
So we can conclude that there is a significant increse in the sales after shipment to digital marketing

**CASE 2 :-** To check whether there is any dependency between the features "Region" and 
              "Manager"

In [149]:
from scipy.stats import chisquare
from scipy.stats import chi2_contingency

In [150]:
data = pd.crosstab(df["Region"],df["Manager"])
data

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [151]:
chi2_stat, p_val, dof, expected = chi2_contingency(data)

In [152]:
chi2_stat

3.050566893424036

In [153]:
p_val

0.5493991051158094

In [154]:
dof

4

chi square critical value for dof = 4 & alpha = 0.05 using the link :
 https://www.danielsoper.com/statcalc/calculator.aspx?id=12

In [155]:
chi2_crit = 9.4877  

if p_val < 0.05:
    print("Reject Null Hypothesis")
else:
    print("Accept Null Hypothesis")

Accept Null Hypothesis

**Conclusion :-**

The calculated chi square value(3.0505) < critical value(9.4877) at alpha = 0.05 
and 
the calculated p-value(0.549) > 0.05.

therefor we "ACCEPT" null hypothesis.

Implies,there is no significant relationship between the Region and Manager features